#control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

#action-toggler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.process-button {
    max-width: auto;
}

.textarea-input {
    resize: none;
}